:root {
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --font-size-2x-small: 0.625rem;
  --font-size-x-small: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;
  --font-size-x-large: 1.5rem;
  --font-size-2x-large: 2.25rem;
  --font-size-3x-large: 3rem;
  --font-size-4x-large: 4.5rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;

  --letter-spacing-denser: -0.03em;
  --letter-spacing-dense: -0.015em;
  --letter-spacing-normal: normal;
  --letter-spacing-loose: 0.075em;
  --letter-spacing-looser: 0.15em;

  --line-height-denser: 1;
  --line-height-dense: 1.4;
  --line-height-normal: 1.8;
  --line-height-loose: 2.2;
  --line-height-looser: 2.6;

  --color-gray-50: hsl(0 0% 97.5%);
  --color-gray-100: hsl(240 4.8% 95.9%);
  --color-gray-200: hsl(240 5.9% 90%);
  --color-gray-300: hsl(240 4.9% 83.9%);
  --color-gray-400: hsl(240 5% 64.9%);
  --color-gray-500: hsl(240 3.8% 46.1%);
  --color-gray-600: hsl(240 5.2% 33.9%);
  --color-gray-700: hsl(240 5.3% 26.1%);
  --color-gray-800: hsl(240 3.7% 15.9%);
  --color-gray-900: hsl(240 5.9% 10%);
  --color-gray-950: hsl(240 7.3% 8%);

  --color-red-50: hsl(0 85.7% 97.3%);
  --color-red-100: hsl(0 93.3% 94.1%);
  --color-red-200: hsl(0 96.3% 89.4%);
  --color-red-300: hsl(0 93.5% 81.8%);
  --color-red-400: hsl(0 90.6% 70.8%);
  --color-red-500: hsl(0 84.2% 60.2%);
  --color-red-600: hsl(0 72.2% 50.6%);
  --color-red-700: hsl(0 73.7% 41.8%);
  --color-red-800: hsl(0 70% 35.3%);
  --color-red-900: hsl(0 62.8% 30.6%);
  --color-red-950: hsl(0 60% 19.6%);

  --color-orange-50: hsl(33.3 100% 96.5%);
  --color-orange-100: hsl(34.3 100% 91.8%);
  --color-orange-200: hsl(32.1 97.7% 83.1%);
  --color-orange-300: hsl(30.7 97.2% 72.4%);
  --color-orange-400: hsl(27 96% 61%);
  --color-orange-500: hsl(24.6 95% 53.1%);
  --color-orange-600: hsl(20.5 90.2% 48.2%);
  --color-orange-700: hsl(17.5 88.3% 40.4%);
  --color-orange-800: hsl(15 79.1% 33.7%);
  --color-orange-900: hsl(15.3 74.6% 27.8%);
  --color-orange-950: hsl(15.2 69.1% 19%);

  --color-amber-50: hsl(48 100% 96.1%);
  --color-amber-100: hsl(48 96.5% 88.8%);
  --color-amber-200: hsl(48 96.6% 76.7%);
  --color-amber-300: hsl(45.9 96.7% 64.5%);
  --color-amber-400: hsl(43.3 96.4% 56.3%);
  --color-amber-500: hsl(37.7 92.1% 50.2%);
  --color-amber-600: hsl(32.1 94.6% 43.7%);
  --color-amber-700: hsl(26 90.5% 37.1%);
  --color-amber-800: hsl(22.7 82.5% 31.4%);
  --color-amber-900: hsl(21.7 77.8% 26.5%);
  --color-amber-950: hsl(22.9 74.1% 16.7%);

  --color-yellow-50: hsl(54.5 91.7% 95.3%);
  --color-yellow-100: hsl(54.9 96.7% 88%);
  --color-yellow-200: hsl(52.8 98.3% 76.9%);
  --color-yellow-300: hsl(50.4 97.8% 63.5%);
  --color-yellow-400: hsl(47.9 95.8% 53.1%);

  --color-lime-50: hsl(78.3 92% 95.1%);
  --color-lime-100: hsl(79.6 89.1% 89.2%);
  --color-lime-200: hsl(80.9 88.5% 79.6%);
  --color-lime-300: hsl(82 84.5% 67.1%);
  --color-lime-400: hsl(82.7 78% 55.5%);
  --color-lime-500: hsl(83.7 80.5% 44.3%);
  --color-lime-600: hsl(84.8 85.2% 34.5%);
  --color-lime-700: hsl(85.9 78.4% 27.3%);
  --color-lime-800: hsl(86.3 69% 22.7%);
  --color-lime-900: hsl(87.6 61.2% 20.2%);
  --color-lime-950: hsl(86.5 60.6% 13.9%);

  --color-green-50: hsl(138.5 76.5% 96.7%);
  --color-green-100: hsl(140.6 84.2% 92.5%);
  --color-green-200: hsl(141 78.9% 85.1%);
  --color-green-300: hsl(141.7 76.6% 73.1%);
  --color-green-400: hsl(141.9 69.2% 58%);
  --color-green-500: hsl(142.1 70.6% 45.3%);
  --color-green-600: hsl(142.1 76.2% 36.3%);
  --color-green-700: hsl(142.4 71.8% 29.2%);
  --color-green-800: hsl(142.8 64.2% 24.1%);
  --color-green-900: hsl(143.8 61.2% 20.2%);
  --color-green-950: hsl(144.3 60.7% 12%);

  --color-emerald-50: hsl(151.8 81% 95.9%);
  --color-emerald-100: hsl(149.3 80.4% 90%);
  --color-emerald-200: hsl(152.4 76% 80.4%);
  --color-emerald-300: hsl(156.2 71.6% 66.9%);
  --color-emerald-400: hsl(158.1 64.4% 51.6%);
  --color-emerald-500: hsl(160.1 84.1% 39.4%);
  --color-emerald-600: hsl(161.4 93.5% 30.4%);
  --color-emerald-700: hsl(162.9 93.5% 24.3%);
  --color-emerald-800: hsl(163.1 88.1% 19.8%);
  --color-emerald-900: hsl(164.2 85.7% 16.5%);
  --color-emerald-950: hsl(164.3 87.5% 9.4%);

  --color-teal-50: hsl(166.2 76.5% 96.7%);
  --color-teal-100: hsl(167.2 85.5% 89.2%);
  --color-teal-200: hsl(168.4 83.8% 78.2%);
  --color-teal-300: hsl(170.6 76.9% 64.3%);
  --color-teal-400: hsl(172.5 66% 50.4%);
  --color-teal-500: hsl(173.4 80.4% 40%);
  --color-teal-600: hsl(174.7 83.9% 31.6%);
  --color-teal-700: hsl(175.3 77.4% 26.1%);
  --color-teal-800: hsl(176.1 69.4% 21.8%);
  --color-teal-900: hsl(175.9 60.8% 19%);
  --color-teal-950: hsl(176.5 58.6% 11.4%);

  --color-cyan-50: hsl(183.2 100% 96.3%);
  --color-cyan-100: hsl(185.1 95.9% 90.4%);
  --color-cyan-200: hsl(186.2 93.5% 81.8%);
  --color-cyan-300: hsl(187 92.4% 69%);
  --color-cyan-400: hsl(187.9 85.7% 53.3%);
  --color-cyan-500: hsl(188.7 94.5% 42.7%);
  --color-cyan-600: hsl(191.6 91.4% 36.5%);
  --color-cyan-700: hsl(192.9 82.3% 31%);
  --color-cyan-800: hsl(194.4 69.6% 27.1%);
  --color-cyan-900: hsl(196.4 63.6% 23.7%);
  --color-cyan-950: hsl(196.8 61% 16.1%);

  --color-sky-50: hsl(204 100% 97.1%);
  --color-sky-100: hsl(204 93.8% 93.7%);
  --color-sky-200: hsl(200.6 94.4% 86.1%);
  --color-sky-300: hsl(199.4 95.5% 73.9%);
  --color-sky-400: hsl(198.4 93.2% 59.6%);
  --color-sky-500: hsl(198.6 88.7% 48.4%);
  --color-sky-600: hsl(200.4 98% 39.4%);
  --color-sky-700: hsl(201.3 96.3% 32.2%);
  --color-sky-800: hsl(201 90% 27.5%);
  --color-sky-900: hsl(202 80.3% 23.9%);
  --color-sky-950: hsl(202.3 73.8% 16.5%);

  --color-blue-50: hsl(213.8 100% 96.9%);
  --color-blue-100: hsl(214.3 94.6% 92.7%);
  --color-blue-200: hsl(213.3 96.9% 87.3%);
  --color-blue-300: hsl(211.7 96.4% 78.4%);
  --color-blue-400: hsl(213.1 93.9% 67.8%);
  --color-blue-500: hsl(217.2 91.2% 59.8%);
  --color-blue-600: hsl(221.2 83.2% 53.3%);
  --color-blue-700: hsl(224.3 76.3% 48%);
  --color-blue-800: hsl(225.9 70.7% 40.2%);
  --color-blue-900: hsl(224.4 64.3% 32.9%);
  --color-blue-950: hsl(226.2 55.3% 18.4%);

  --color-indigo-50: hsl(225.9 100% 96.7%);
  --color-indigo-100: hsl(226.5 100% 93.9%);
  --color-indigo-200: hsl(228 96.5% 88.8%);
  --color-indigo-300: hsl(229.7 93.5% 81.8%);
  --color-indigo-400: hsl(234.5 89.5% 73.9%);
  --color-indigo-500: hsl(238.7 83.5% 66.7%);
  --color-indigo-600: hsl(243.4 75.4% 58.6%);
  --color-indigo-700: hsl(244.5 57.9% 50.6%);
  --color-indigo-800: hsl(243.7 54.5% 41.4%);
  --color-indigo-900: hsl(242.2 47.4% 34.3%);
  --color-indigo-950: hsl(243.5 43.6% 22.9%);

  --color-violet-50: hsl(250 100% 97.6%);
  --color-violet-100: hsl(251.4 91.3% 95.5%);
  --color-violet-200: hsl(250.5 95.2% 91.8%);
  --color-violet-300: hsl(252.5 94.7% 85.1%);
  --color-violet-400: hsl(255.1 91.7% 76.3%);
  --color-violet-500: hsl(258.3 89.5% 66.3%);
  --color-violet-600: hsl(262.1 83.3% 57.8%);
  --color-violet-700: hsl(263.4 70% 50.4%);
  --color-violet-800: hsl(263.4 69.3% 42.2%);
  --color-violet-900: hsl(263.5 67.4% 34.9%);
  --color-violet-950: hsl(265.1 61.5% 21.4%);

  --color-purple-50: hsl(270 100% 98%);
  --color-purple-100: hsl(268.7 100% 95.5%);
  --color-purple-200: hsl(268.6 100% 91.8%);
  --color-purple-300: hsl(269.2 97.4% 85.1%);
  --color-purple-400: hsl(270 95.2% 75.3%);
  --color-purple-500: hsl(270.7 91% 65.1%);
  --color-purple-600: hsl(271.5 81.3% 55.9%);
  --color-purple-700: hsl(272.1 71.7% 47.1%);
  --color-purple-800: hsl(272.9 67.2% 39.4%);
  --color-purple-900: hsl(273.6 65.6% 32%);
  --color-purple-950: hsl(276 59.5% 16.5%);

  --color-fuchsia-50: hsl(289.1 100% 97.8%);
  --color-fuchsia-100: hsl(287 100% 95.5%);
  --color-fuchsia-200: hsl(288.3 95.8% 90.6%);
  --color-fuchsia-300: hsl(291.1 93.1% 82.9%);
  --color-fuchsia-400: hsl(292 91.4% 72.5%);
  --color-fuchsia-500: hsl(292.2 84.1% 60.6%);
  --color-fuchsia-600: hsl(293.4 69.5% 48.8%);
  --color-fuchsia-700: hsl(294.7 72.4% 39.8%);
  --color-fuchsia-800: hsl(295.4 70.2% 32.9%);
  --color-fuchsia-900: hsl(296.7 63.6% 28%);
  --color-fuchsia-950: hsl(297.1 56.8% 14.5%);

  --color-pink-50: hsl(327.3 73.3% 97.1%);
  --color-pink-100: hsl(325.7 77.8% 94.7%);
  --color-pink-200: hsl(325.9 84.6% 89.8%);
  --color-pink-300: hsl(327.4 87.1% 81.8%);
  --color-pink-400: hsl(328.6 85.5% 70.2%);
  --color-pink-500: hsl(330.4 81.2% 60.4%);
  --color-pink-600: hsl(333.3 71.4% 50.6%);
  --color-pink-700: hsl(335.1 77.6% 42%);
  --color-pink-800: hsl(335.8 74.4% 35.3%);
  --color-pink-900: hsl(335.9 69% 30.4%);
  --color-pink-950: hsl(336.2 65.4% 15.9%);

  --color-rose-50: hsl(355.7 100% 97.3%);
  --color-rose-100: hsl(355.6 100% 94.7%);
  --color-rose-200: hsl(352.7 96.1% 90%);
  --color-rose-300: hsl(352.6 95.7% 81.8%);
  --color-rose-400: hsl(351.3 94.5% 71.4%);
  --color-rose-500: hsl(349.7 89.2% 60.2%);
  --color-rose-600: hsl(346.8 77.2% 49.8%);
  --color-rose-700: hsl(345.3 82.7% 40.8%);
  --color-rose-800: hsl(343.4 79.7% 34.7%);
  --color-rose-900: hsl(341.5 75.5% 30.4%);
  --color-rose-950: hsl(341.3 70.1% 17.1%);

  --spacing-3x-small: 0.125rem;
  --spacing-2x-small: 0.25rem;
  --spacing-x-small: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.25rem;
  --spacing-x-large: 1.75rem;
  --spacing-2x-large: 2.25rem;
  --spacing-3x-large: 3rem;
  --spacing-4x-large: 4.5rem;

}

.mt-med {
  margin-top: var(--spacing-medium);
}

.mr-med {
  margin-right: var(--spacing-medium);
}

.mb-med {
  margin-bottom: var(--spacing-medium);
}

.ml-med {
  margin-left: var(--spacing-medium);
}

.m-small {
  margin: var(--spacing-small);
}

.mt-small {
  margin-top: var(--spacing-small);
}

.mr-small {
  margin-right: var(--spacing-small);
}

.mb-small {
  margin-bottom: var(--spacing-small);
}

.ml-small {
  margin-left: var(--spacing-small);
}

.p-small {
  padding: var(--spacing-small);
}

.pt-small {
  padding-top: var(--spacing-small);
}

.pr-small {
  padding-right: var(--spacing-small);
}

.pb-small {
  padding-bottom: var(--spacing-small);
}

.pl-small {
  padding-left: var(--spacing-small);
}

.w-half {
  width: 45%
}

.w-full {
  width: 95%
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.main-body {
  display: grid;
  grid-template-columns: 20rem 1fr;
}

.main-body>*,
.main-footer {
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
}

.main-footer {
  padding-top: var(--spacing-x-small);
  padding-bottom: var(--spacing-x-small);
}

h1 {
  font-variant: small-caps;
  letter-spacing: var(--letter-spacing-loose);
}

.sidebar {
  overflow-y: auto;
}

.left-footer {
  float: left;
}

.right-footer {
  float: right;
}

/** components **/
a:visited,
a:link {
  display: inline-block;
  color: var(--color-blue-600);
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
  font-weight: var(--font-weight-bold);
}

a.button {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
}

nav ul {
  list-style-type: none;
  padding-left: var(--spacing-medium);
}

nav>ul {
  padding-left: 0rem;
}

nav div,
nav li {
  margin-bottom: var(--spacing-small)
}

.breadcrumb ul li {
  display: inline-block;
  white-space: nowrap;
}

.breadcrumb ul>li:not(:last-child)::after {
  display: inline-block;
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-small);
  content: ">";
}

table {
  border-spacing: 0rem;
  margin-bottom: var(--spacing-2x-large);
}

table tbody tr:nth-child(even) {
  background-color: var(--color-gray-100)
}

table tbody tr:hover {
  background-color: gold
}

table td,
table th {
  padding: var(--spacing-2x-small) var(--spacing-x-small);
  min-width: 10rem;
  text-align: left;
  vertical-align: top;
}

table td.narrow,
table th.narrow {
  min-width: 3.5rem;
}

table td.wide,
table th.wide {
  min-width: 23.5rem;
}

table td.center,
table th.center {
  text-align: center;
}

table td.right,
table th.right {
  text-align: right;
}

table.border-all td,
table.border-all th {
  border-bottom: 1px solid var(--color-gray-300);
}

table tbody tr.row-add {
  background-color: var(--color-blue-200)
}

hr {
  border-top: 1px solid var(--color-blue-800);
}


/** form related **/
.form-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: var(--spacing-medium);
}

label {
  font-size: var(--font-size-small);
}

label.label-selected {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  font-style: italic;
}

.field-label,
.field-spacing {
  margin-bottom: var(--spacing-x-small);
}

.form-actions {
  padding-top: var(--spacing-medium);
  padding-bottom: 7.5rem;
  border-top: 1px solid var(--color-blue-800);
  text-align: center;
}

/** form elements **/
input[type="text"],
input[type="date"],
textarea {
  min-width: 15rem;
  border-radius: 0.3rem;
  padding: var(--spacing-2x-small) var(--spacing-x-small);
  font-size: var(--font-size-medium);
}

select {
  min-width: 16.2rem;
  padding: var(--spacing-2x-small) var(--spacing-x-small);
  font-size: var(--font-size-medium);
}

input[type="radio"],
input[type="checkbox"] {
  margin: var(--spacing-2x-small);
  transform: scale(1.5)
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  box-shadow: 0px 0px 4px black
}

a.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  min-width: 5rem;
  box-sizing: content-box;
  padding: var(--spacing-x-small) var(--spacing-medium);
  border: 1px solid var(--color-blue-600);
  border-radius: 0.3rem;
  background-color: var(--color-blue-50);
  font-size: var(--font-size-medium);
  color: var(--color-blue-600);
  cursor: pointer;
  transition: all 0.3s;
}

a.button.small,
button.small,
input[type="submit"].small,
input[type="button"].small,
input[type="reset"].small {
  padding: var(--spacing-2x-small) var(--spacing-x-small);
  font-size: var(--font-size-small);
}

a.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover {
  border: 1px solid black;
  background-color: var(--color-gray-600);
  color: white;
}

a.button:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,

a.button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
button:active {
  border: 1px solid black;
  background-color: var(--color-gray-400);
  color: white;
}

input[type="submit"],
input[type="reset"],
input[type="button"].reset,
button.reset {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.radio-selected {
  /*
  border: 1px solid black;
  */
  font-weight: var(--font-weight-bold);
  font-style: italic;
}

/** button casing **/
.button-group {
  margin-top: var(--spacing-x-small);
  margin-bottom: var(--spacing-x-large);
}

/** tooltip **/
.tooltip-anchor {
  position: relative;
  display: inline-block;
}

.tooltip-anchor .tooltip {
  visibility: hidden;
  position: absolute;
  padding: var(--spacing-2x-small) var(--spacing-large);
  z-index: 10;
  top: calc(100% - 0.2rem);
  left: var(--spacing-small);

  text-align: center;
  border: 1px solid black;
  border-radius: 0.3rem;
  background-color: var(--color-gray-600);
  color: white;
}

.tooltip-anchor:hover .tooltip {
  visibility: visible;
}

/** data details **/
.data-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.data-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/** display details **/
.disp-4-col {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
}

.disp-4-col div,
.data-4-col div {
  padding: var(--spacing-2x-small) var(--spacing-medium);
  margin-bottom: var(--spacing-3x-small);
}

.disp-4-col div:nth-child(odd) {
  background-color: var(--color-blue-50);
  border: 1px solid var(--color-blue-600);
}

.hidden {
  display: none;
}